.favourite_object_container{
	display: inline-block;
}

.favourite_object_container .icon{
	/*default state*/
	background: url('favourite_default.png');
	height: 24px;
	width: 24px;
	display: block;
	cursor: pointer;
}
.favourite_object_container .icon.active{
	/*favourited state*/
	background: url('favourite_active.png');
	display: block;
}

.favourite_object_container .icon:before
{ 
	position: absolute;
	left: -57px;
	top: 3px;
	content:"Favourite";
}
.favourite_object_container .icon.active:before
{ 
	content:"Favourited";
}