.favourite_object_container{
	display: inline-block;
}

.favourite_object_container .icon{
	/*default state*/
	background: url('favourite_default.png');
	height: 21px;
	width: 22px;
	display: block;
}
.favourite_object_container .icon.active{
	/*favourited state*/
	background: url('favourite_active.png');
	height: 21px;
	width: 22px;
	display: block;
}
